.apunte{
    display:flex;
    justify-content: flex-start;
    align-content: flex-end;
}
.apunteTitulos{
    display:flex;
    flex-direction: column;
    width: 15em;
}
.apunteTitulos p{ 
    font-size: 1.2em;
    height:3em;
    border: 1px solid black;
}
.formApunte{
    display:flex;
    margin:0  2em;
    flex-direction: column;
    width: 30em;
    border: 2px solid black;
}
.formApunte p{
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 1px solid black;
    height: 4em;
    background-color:  rgb(150, 170, 158);
}
.apunteDescrip{
    display:flex;
    flex-direction: column;
    width: 60%;
}
.apunteDescrip p{
    font-size: 1.2em;
    height:20%;
    font-size: 0.9rem;
    line-height: 1.5em;
    border: 1px solid black;
}
.apunteSelec{
    background-color: rgb(127, 134, 130);

}
.inputFecha{
    padding-top: 0.6em;
    padding-left: 4em;
    font-size: 2em;
    width: 60%;
    border:0;

    background-color: rgb(150, 170, 158);
}
.selecTipo{
    border:0;
    margin-top: 0.2em;
    padding-top: 0.4em;
    padding-left: 2em;
    width:80%; 
    font-size: 2em;
    background-color: rgb(150, 170, 158);
}
.inputImporte{
    border:0;
    background-color:  rgb(150, 170, 158);
    color:black;
    font-size: 2em;
    padding-top: 0.7em;
    padding-left: 3em;
    width:73%;    
}
::placeholder { 
    color:black;
    opacity: 1; 
}
.inputCrear{
    font-size: 2em;
    width: 100%;
    height: 100%;
    border-radius: 3em;
    border:solid 2px black;
    background-color:rgb(112, 124, 117);
}
.rConsulta{
    display: flex;
    flex-direction: column;
    margin: 5% 10em; 
    height: 100%;
   
    background: rgba(24, 73, 4, 0.205);
    font-size: 150%;
    border:solid 2px black;
    border-radius: 5px;
  }
  .rConsultaTotal{
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid black;
      font-size: 150%;  
  }
  .unidadConsulta{
      display: flex;
      justify-content: space-evenly;

  }

