.asideMenu a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color:rgb(127, 134, 130);
  ;
}
  
.asideMenu a.active {
    color: black;
    text-decoration: underline;
}
.ulMenu{
    display: flex;
    justify-content:space-around;
    background-color:rgba(24, 73, 4, 0.205);
    font-size: 50px;
    line-height: 1px;
}

.divcont{
    width: 100%;
    
}
.ingresos{
  display: flex;
}
.ingr{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50em;
}

.titulo{
    text-align: left;
    font-size: 4vw;
}
#apunte{  
  display:flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  padding: 0.5em; 
  background: rgb(150, 170, 158);
  width: 70%;
  text-align: center;
  color:black;
  font-size: 200%;
  border-radius: 20px; 
  }
 .creaApunte{
   color:black;;
   position: relative; 
 }
 .mes{
   width: 40em;
   margin-left: 20%;

 }
.mesEnCurso{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  height: 100%;
  width: 100%;
  background: rgba(24, 73, 4, 0.205);
  font-size: 150%;
  border:solid 2px black;
  border-radius: 5px;
}
.b{
  background-color:rgb(150, 170, 158); 
  border: solid 1px black;
}
.c{
  display: flex;
  padding:0 5% 0 5%;
  justify-content: space-between;
  align-content: space-between;
}